<div class="container">
  <div class="row">
    <div class="col-md 6 offset-2">
      <div class="card">

        <h5 class="card-header text-center py-4 bg-info">
          <strong>Sign in</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">

          <!-- Form -->
          <form (ngSubmit)="login()" [formGroup]="loginForm" class="text-center" style="color: #757575;">
            <br>
            <!-- Email -->
            <div class="md-form">
              <input class="form-control" formControlName="username" id="materialLoginFormEmail" type="username">
              <label for="materialLoginFormEmail">User Name</label>
            </div>

            <!-- Password -->
            <div class="md-form">
              <input class="form-control" formControlName="password" id="materialLoginFormPassword" type="password">
              <label for="materialLoginFormPassword">Password</label>
            </div>
            <!-- Sign in button -->
            <button [disabled]="loginForm.invalid"
                    class="btn btn-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign
              in
            </button>
          </form>
          <!-- Form -->

        </div>

      </div>

    </div>
  </div>
</div>
